body {
    background-color: #ffffff;
    background-image: url(https://i.postimg.cc/SsNbpcs7/minecraft.gif);
    background-size: 1500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

h1
{
	color: #307ee4;
    text-align: center;
    text-shadow: 2px 2px 4px black;
}

p
{
    color: #ffffff;
    font-size: 22px;
    text-shadow: 2px 2px 4px black;
}

.premier-p
{
    text-align: center;
    margin-top: 50px;
    margin-right: 300px;
}

.deuxième-p
{
    text-align: center;
}

.image-pdp
{
	float: left;
    width : 140px;
    height : 130px;
    margin-top: 50px;
    margin-left: 150px;
    border-radius: 20px;
}

.logo_twitter
{
    margin-right: 50px;
    width : 80px;
    height : 80px;
}

.logo_insta
{
    margin-right: 50px;
    width : 80px;
    height : 80px;
}

.logo_tiktok
{
    margin-right: 50px;
    width : 80px;
    height : 80px;
}

.logo_name_mc
{
    margin-right: 50px;
    width : 80px;
    height : 80px;
}

.logo_paypal
{
    margin-right: 50px;
    width : 80px;
    height : 80px;
}

.logo_gmail
{
    margin-right: 50px;
    width : 80px;
    height : 80px;
}

.logo_discord
{
    margin-right: 20px;
    width : 80px;
    height : 80px;
}
